<li class="list-group-item">
  <h4>Appareil : {{ appareilName }}
    <span
      [ngClass]="{'badge': true,
       'badge-danger': appareilStatus === 'Éteint',
       'badge-success': appareilStatus === 'Allumé' }">
      {{ getStatus() }}</span>
  </h4>
  <button class="btn btn-sm btn-primary" (click)="onSwitchOn()" [disabled]="appareilStatus === 'Allumé'">Allumer</button>
  <button class="btn btn-sm btn-danger" (click)="onSwitchOff()" [disabled]="appareilStatus === 'Éteint'">Éteindre</button>
</li>
